

<div class="forgot">
    <div class="row m-0">
        <div class="col-6 text-center bglogin">
            <div class="jumbotron">
                <form class="forgotform" [formGroup]="ForgotForm">
                    <div class="img">
                        <img src="assets/images/Logo.png" width="125" height="76">
                    </div>
                    <div class="fortext text-left">Forgot Password</div>

                    <div class="input">


                        <div class="input-group">
                            <div class="input-group input-add">
                                <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                                <input id="email" type="text" class="form-control " name="email" formControlName="email"
                                    placeholder="Email Id">

                                <div *ngIf="submitted && f['email'].errors" class="text-start error pos_absolute">
                                    <div *ngIf="f['email'].errors['required']"> Email id is required</div>
                                    <div *ngIf="f['email'].errors['email']">Valid email id is required</div>
                                </div>
                            </div>

                        </div>

                        <div class="input-group" *ngIf="ShowOtp">
                            <div class="input-group input-add">
                                <span class="input-group-addon"><i class="  fa fa-commenting"></i></span>
                                <input id="otp" type="text" class="form-control " name="otp" formControlName="otp"
                                    placeholder="Enter OTP">
                                <div *ngIf="submitted && f['otp'].errors" class="text-start error pos_absolute">
                                    <div *ngIf="f['otp'].errors['required']">Otp is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" *ngIf="ShowOtp">
                            <div class="input-group input-add">
                                <span class="input-group-addon"><i class="  fa fa-lock"></i></span>
                                <input id="pass" type="password" class="form-control " name="pass"
                                    formControlName="pass" placeholder="Password">
                                <div *ngIf="submitted && f['pass'].errors" class="text-start error pos_absolute">
                                    <div *ngIf="f['pass'].errors['required']">Password is required</div>
                                    <div *ngIf="f['pass'].errors['minlength']">Password should contain 8 characters</div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" *ngIf="ShowOtp">
                            <div class="input-group input-add">
                                <span class="input-group-addon"><i class="  fa fa-lock"></i></span>
                                <input id="confirm" type="password" class="form-control " name="confirm"
                                    formControlName="confirm" placeholder="Confirm Password">
                                <div *ngIf="submitted && f['confirm'].errors" class="text-start error pos_absolute">
                                    <div *ngIf="f['confirm'].errors['required']">Confirm Password is required</div>
                                </div>
                                <div *ngIf="submitted && matchingflag && !f['confirm'].errors" class="text-start error pos_absolute">
                                    <div>Passwords won't match</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class=" errordiv text-center" *ngIf="errorMsgFlag">
                        <p class="error">{{errorMsg}}</p>
                    </div>

                    <div *ngIf="!ShowOtp" class="pt-1"><button class="btn sign-btn  btn-block " (click)="SendOtp()">Send
                            OTP</button></div>
                    <div *ngIf="ShowOtp" class="pt-1"><button class="btn  sign-btn btn-block " (click)="ResetPass()">Reset
                            Password</button>
                    </div>


                    <div class="label text-right"><label><b class="agree">Back to login ?<a class="term" href="#"
                                    routerLink="/login">
                                    Click here</a></b></label></div>


                </form>
                <div class="footer">© Dancing Numbers</div>
            </div>
            
        </div>
        <div class="col-6  bglogo">
            <!-- <img src="assets/images/Logo.png" class="logo"> -->
            <!-- <form [formGroup]="LoginForm">
                <div class="form-group">
                    <label for="email" class="user_label">Username</label>
                    <input id="email" type="text" class="form-control " name="email" formControlName="email"
                            placeholder="Email Id">

                    <div *ngIf="submitted && f.email.errors" class="error pos_absolute">
                        <div *ngIf="f.email.errors.required"> Email id is required</div>
                        <div *ngIf="f.email.errors.email">Valid email id is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="user_label">Password</label>
                    <input id="password" type="text" class="form-control " name="password" formControlName="password"
                            placeholder="Password">

                    <div *ngIf="submitted && f.password.errors" class="error pos_absolute">
                        <div *ngIf="f.password.errors.required"> Password is required</div>
                    </div>
                </div>

                <button class="btn form_btn" (click)="OnSubmit()">Log in</button>

                <p class="or_text">OR</p>
                <button class="btn" id="Google_sign" (click)="signInWithGoogle()">Sign In with google</button>
            </form> -->
             <h1 class="login_head">Reduce manual process and </h1>
             <!-- <img src="assets/images/log_img.jpg" class="logo ">  -->
             <h1 class="login_head login_main">switch to Automation</h1>
               
        </div>
    </div>
</div>