.msgText{
    color: #2D2D2D;
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 85vh;
  }
  .activity_page{
    margin-top: -43px;
  min-height: 98vh;
  }
  :host ::ng-deep .mat-mdc-icon-button{
  padding:5px 0;
  height: 38px;
  }
  :host ::ng-deep .mat-mdc-tab .mdc-tab__text-label{
    min-width: 100px !important;
    padding: 0 !important;
    color: #2D2D2D;
    font-size: 18px;
    letter-spacing: 0.2px;
    opacity: 1;
    font-weight: 500;
  }
  :host ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label,
  :host ::ng-deep .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label ,
  :host ::ng-deep .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label{
    color: #2D2D2D;
    min-width: 100px !important;
    font-weight: 800;
  }
  
  
  :host ::ng-deep .mat-mdc-tab.mdc-tab:hover .mdc-tab__text-label{
   
    color: #2D2D2D !important;
  }
  :host ::ng-deep .mat-mdc-tab.mdc-tab--active::after .mdc-tab__text-label {
    border-bottom: 1px solid #D5D5D5;
    background-color: #fff !important;
    color: #2d2d2d;
  }
  
  :host ::ng-deep .mat-mdc-tab-header  {
    //border-bottom: 1px solid #D5D5D5;
    height: 50px;
    width: 82%;
  }
 

  :host ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color :  #30BE65 !important;
    border-width: 3px;
  }
  :host ::ng-deep .mat-mdc-tab.mdc-tab {
    height: 45px !important;
    flex-grow: 0 !important;
    margin-right: 20px;
}

  //
  .active_content{
    padding:5px 20px 10px 20px;
    min-height: 98vh;
}
  .log_head{
    font-size: 26px;
    font-family: "Proxima_Nova_Bold";
    margin-bottom: 5px;
    
}
  .detail_link{
    color: #2D87BB;
    text-decoration: none;
    font-family: "Proxima_Nova_Bold";
    display: block;
    padding-top: 10px;
}
  .tab_head{
    height: 26px;
  }

  .tab_head p{
    display: inline-block;
    font-size: 13px;
    color: #2d2d2d;
    padding-right: 6px;
    line-height: 16px;
    margin: 4px 0 !important;
  }
  .tab_head span{
    font-size: 14px;
    font-weight: 500;
    padding-left: 7px;
    color: #2D87BB;
  }
  .input-field .fa{
   cursor: pointer;
   font-weight: 600;
  }
  .input-field{
    //background: #fff;
    border-radius: 10px;
    padding: 0 3px;
    width: 50%;
    height: 36px;
    //border: 1px solid #dedede;
  }
  .form-control{
    border: none;
    width: 94%;
    display: inline-block;
    height: 36px;
    box-shadow: none;
    background-color: transparent;
    padding-left: 10px;
  }
  ::placeholder {
    font-size: 14px;
    color: #5e5c5c;
  }
  .addFilter{
    font-size: 15px;
    border: 1px solid #c7c5c5;
    border-radius: 5px;
    height: 32px;
    padding: inherit;
    font-weight: 500;
    width: 100px;
   
  }
  .search_row{
    border-bottom: 2px solid #dedede;
    height: 50px;
    margin-top: 10px !important;
  }
  .addFilter i{
    padding-right: 3px;
  }

  .filterBox{
    border: 2px solid #2D87BB;
    margin-top: 13px;
    border-radius: 17px;
    background: #fff;
    padding: 0px 4px 0 10px;
    height: 28px;
    background-color: #2D87BB10;

  }
  .filterBox i{
    border: 1px solid #dedede;
    border-radius: 50%;
    font-size: 13px;
    display: inline-block;
    color: #dedede;
    background: #333333;
    padding: 2px 3px;
    cursor: pointer;
    margin-left: 15px;
    
  }
  .filter_col{
    width: auto;
    /* min-width: 295px; */
    margin-right: 20px;
  }
  .filterBox p{
    margin-bottom: 0;
    font-size: 13px;
    display: inline-block;
   // width: 92%;
  }

  ///
   .labelStyle {
  padding-top: 5px  !important;
 
}

.next_btn{
 
  font-size: 14px;
  background-color: #00A368;
  color: #fff;
  border-radius: 6px;
  width: 77px;
  height: 33px;
  padding: inherit
}
.label_text{
  font-size: 14px; 
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 10px;
}
.label_txt{
  font-size: 14px; 
  font-weight: 500;
  margin-bottom: 0;
}
.label_txt span{
  font-size: 14px; 
  font-weight: 500;
  color: #2D87BB;
}
:host ::ng-deep .active_content .ngx-datatable.material {
 // box-shadow: none;
  //border: 1px solid rgba(0, 0, 0, 0.12);
  height: auto;
 // max-height: 480px;

  margin-top: 13px;
 padding: 0;
}

// :host ::ng-deep .active_content .ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
// :host ::ng-deep .active_content .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
//   background: #BCEEBF;
// }


:host ::ng-deep .active_content .ngx-datatable.material .datatable-body .datatable-scroll {
  width: 100%  !important;

}
:host ::ng-deep .active_content .ngx-datatable.material .datatable-body{
  //width:100% !important;
 
  height: auto !important;
  max-height: 60vh !important;

}
:host ::ng-deep .active_content .ngx-datatable.material .datatable-header .datatable-header-cell,
:host ::ng-deep .active_content .ngx-datatable.material .datatable-body .datatable-body-cell{
  padding: 0px 15px;
}
:host ::ng-deep .active_content .ngx-datatable.material .datatable-header  {

  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  background: #fcfdfd;
  padding: 13px 0px;
  //border-radius: 5px;
  //margin: 7px 0;
  height: 52px;
  color: #333; 
font-weight: 600;
font-size: 14px; 
}
:host ::ng-deep .active_content .ngx-datatable.material .datatable-row-group {
  //width:100vw !important;
  width:100% !important;
}
:host ::ng-deep .active_content .ngx-datatable.material .datatable-body-row {
 
  border-bottom: 2px solid #dedede;
  background: #fff;
  padding: 5px 0px;
 // border-radius: 5px;
  //margin: 15px 0;
  height: 55px !important;
  color: #333; 
//font-weight: bold;
font-size: 14px; 


}

:host ::ng-deep .active_content .ngx-datatable.material .datatable-footer .page-count {
  line-height: 38px;
  height: 38px;
  font-size: 14px; 
  color: #333; 
}

:host ::ng-deep .active_content .ngx-datatable.material .datatable-footer {
  border-bottom: 2px solid #dedede;
  //border-top: 2px solid #dedede;
  border-top: 1px solid #dedede;
  height: 52px;
  background: #fcfdfd;
}

:host ::ng-deep .active_content .ngx-datatable.material .datatable-footer-inner {

  height: 37px !important;
  padding: 24px 3px 24px 7px
}

:host ::ng-deep .active_content .ngx-datatable.material .datatable-footer .page-count {
  line-height: 21px;
  height: 21px;
  //padding: 0 1.2rem;
}

.pagenumber {
  background-color: #0B8843;
  color: #fff;
  width: 31px;
  height: 31px;
  padding: initial;
  font-size: 12px;
}


.back_button {
  font-size: 12px;
  margin: 0 10px;
  border: 1px solid #2d2d2d;
}

:host ::ng-deep .active_content ::-webkit-scrollbar {
  background-color: #dedede;
//  border: 1px solid #dedede;
  width: 16px
}

:host ::ng-deep .active_content ::-webkit-scrollbar-track {
  background-color: #dedede;
 // border: 1px solid #dedede;
}

:host ::ng-deep .active_content ::-webkit-scrollbar-track:hover {
  background-color: #dedede
}

:host ::ng-deep .active_content ::-webkit-scrollbar-thumb {
  background-color: #1DA299;
  border-radius: 16px;
  border: 5px solid #dedede
}

:host ::ng-deep .active_content ::-webkit-scrollbar-thumb:hover {
  background-color: #2E7533;
  border: 4px solid #dedede
}

:host ::ng-deep .active_content ::-webkit-scrollbar-button {
  display: none
}


.form_box{
  background-color: #fff;
  padding: 10px;
}
.selectCell{
  font-family: Proxima_Nova_Regular;
  background-color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  /* margin: 0 !important; */
  border: 1px solid #d6d6d6;
  outline: none;
  padding-left: 16px;
  padding-top: 7px;
  padding-right: 10px;
  color: #2d2d2d;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}
.form-group{
  border: 1px solid #dedede;
  border-radius: 5px;
  height: 40px;
  margin-top: 5px;
  padding-left: 10px;

}


.selectinput{
  border: none;
 width: 81%;
 outline: none;
}
.select_label{
  font-size: 15px;
}
.cancelBtn{
  background: #fff !important;
  color: #2d2d2d !important;
  border: 1px solid #30be65 ;

}

.saveBtn{
  background: #30be65;
  color: #fff;
  display: block;
  width: 108px;
  margin: 13px 0px 3px 15px;
  height: 34px;
  padding: inherit;
}