<div class="row m-0 footer_row">
    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-8 col-12 p-0">
        <P class="foot_text m-0">Copyright © {{copyYr}} DANCING DIGITS PRIVATE LIMITED |

            <a class="contact" [href]="emailLink"><i class="fa fa-envelope foot_ico"></i>{{email}}</a>|
            <a class="contact" [href]="telLink"><i class="fa fa-phone foot_ico"></i>{{phNo}} </a>|
            <a class="contact" id="hideWidget" href="javascript:void(0);" onclick="zE.activate({hideOnClose: true});"><i
                    class="fa  fa-comments foot_ico"></i>Chat
                with us </a>|
            All rights reserved.

        </P>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-12 text-end p-0">
        <p class="foot_text foot_terms  m-0"> <a href="https://www.dancingnumbers.com/terms-conditions/"
                target="_blank">Terms & Conditions</a> | <a href="https://www.dancingnumbers.com/privacy-policy/"
                target="_blank">Privacy</a> </p>

    </div>
</div>