.add-sec {
    height: 85px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    width: 100%;
    padding: 20px;
    ;
  }
  
  .errordiv {
    padding-top: 10px;
  }
  
  .backdropBackground {
    opacity: 0 !important;
  }
  
  .add {
    font-size: 22px;
    line-height: 45px;
    font-family: 'Proxima_Nova_Bold' !important;
    color: rgba(24, 30, 51, 1);
  }
  
  .add_box {
    border: 1px solid #0B8843;
    border-radius: 8px;
    margin-top: 60px;
    padding: 20px;
  
  }
  
  .select {
    font-size: 16px;
    color: #333333;
  }
  
  .addcomp {
    min-height: 100vh
  }
  
  .quickbtn {
    cursor: pointer;
  }
  
  .image {
    background: url("../../../assets/images/quickbtn.png") no-repeat;
    width: 222px;
    ;
    height: 48px;
    cursor: pointer
  }
  
  .image:hover {
    background: url("../../../assets/images/quick_btnh.png") no-repeat;
  
  }
  